html {
    width: 100%;
    height: 100%;
}

#page {
    
}


/* Header */

.title {
    text-align: center;
    
}
.subtitle{
    margin-bottom: 20px;
    text-align: center;
}

/* Navigation Bar */


.navlinks {
    font-size: 150%;
    color: black;
}
.nav .navbar-nav li a {
    color: black;
}

.nav .navbar-nav li a:hover, .nav .navbar-nav li a:focus {
    color: black;
}

.options {
    text-align: center;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
        float: none;
        display: inline-block;
        
}

#head {
    background-color: red;
    padding-top: 5px;  
    padding-bottom: 1px;
}

/* Search Box */
.formRates {
    text-align: center;
    margin-top: 20px;
}

.searchBox {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#city, #checkin, #checkout {
    margin-left: 10px;
    margin-right: 10px;
}



/* Search Cities */
#location{
    text-align: center;
}
.loc {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  width: 600px;
  border: 2px solid black;
}
#pic {
  height: 200px;
  width: 400px;
}



/* Contact Us */
#contactus {
    text-align: center;
    margin-top: 25px;
}
#contactus h4 {
    margin-top: 20px;
}

#submitbut {
    margin-top: 15px;
    font-size: 150%;
}


/* Hotel Search Results */
#hotels {
    text-align: center;
}

.hotels {
  display: inline-block;
  vertical-align: top;
  width: 204px;
  height: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
  border: 2px solid black;
}

.hotels img {
  width: 200px;
  height: 170px;
  
}

.hotelname {
    font-size: 15px;
    
}
.hotelrate {
    vertical-align: bottom;
}

/* Single Hotel */
#hotels {
  text-align: center;
  margin-top: 20px;
}
.hotelTitle, .stars {
  margin-top: 20px;
  display: inline-block;
  
}
#titlerating {
  width: 100%;
  
}
.stars {
  margin-left: 50px;
  font-size: 125%;
  position: relative;
  bottom: 30px;
  
}
.hotelTitle {
  text-align: left;
  
}

.pictures {
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.btn-floating:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
    
}
.btn-floating {
    font-size: 250%;
    color: white;
}

.slideShow {
    width: 100%;
    height: 100%;
    max-height: 700px;
}

#desc, #amenities {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 50px;
}
#desc {
  width: 500px;
  text-align: left;
}

#reviews {
  margin-top: 50px;
}
#amenitiestitle, #reviewtitle, #desctitle {
  text-decoration: underline;
}

.usersummary {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}