html {
    width: 100%;
    height: 100%;
}

#page {
    
}


/* Header */

#webtitle {
    text-align: center;
    color: white;
}
#hometitle{
    margin-bottom: 20px;
}

/* Navigation Bar */


.navlinks {
    font-size: 150%;
    color: black;
}
.nav .navbar-nav li a {
    color: black;
}

.nav .navbar-nav li a:hover, .nav .navbar-nav li a:focus {
    color: black;
}

.options {
    text-align: center;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
        float: none;
        display: inline-block;
        
}

#head {
    background-color: red;
    padding-top: 5px;  
    padding-bottom: 1px;
}

/* Search Box */
#searchbox {
    text-align: center;
}
#selloc {
    font-size: 150%;
}
.inputHead {
    font-size: 150%;
}
#submit {
    font-size: 150%;
}
.searchbar {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

/* Search Cities */
#location{
    text-align: center;
}
.loc {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  width: 600px;
  border: 2px solid black;
}
#pic {
  height: 200px;
  width: 400px;
}



/* Contact Us */
#contactus {
    text-align: center;
    margin-top: 25px;
}
#contactus h4 {
    margin-top: 20px;
}

#submitbut {
    margin-top: 15px;
    font-size: 150%;
}


/* Hotel Search Results */
#hotels {
    text-align: center;
}

.hotels {
  display: inline-block;
  vertical-align: top;
  width: 204px;
  height: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
  border: 2px solid black;
}

.hotels img {
  width: 200px;
  height: 170px;
  
}

.hotelname {
    font-size: 15px;
    
}
.hotelrate {
    vertical-align: bottom;
}

